/* Universal Selector */
* {
  margin: 2px;
}
body {
  position: relative;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  display: grid;
}
/* Top of the Page Formatting */
header {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 1 em;
  justify-content:space-between;
  border-bottom: 3px solid gray;
}
header p {
  padding:1em;
  display: inline;
  width: fit-content;
}
#highscores {
  color:blueviolet;
  text-decoration: underline;
}
/* Meat of the page formatting */
h2{
  text-align: center;
}
#center {
  justify-self: center;
  width:50%;
  position: relative;
}
/* Start Page Formatting */
#pageLoad {
  position:absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
#pageLoad h2 {
  text-align: center;
  border-bottom: 2px solid gray;

}
#pageLoad p{
  text-align: center;
}
/* Quiz Formatting */
#quiz {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
}
#question {
  text-align: left;
  font-size: x-large;
  font-weight: bolder;
}
#question-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:1em;
}
/* For Prev/Next and New Game/Reset Scores buttons*/
.navigation {
  max-width: 40%;
}
/* Formats Buttons */
.card {
  border-radius: 25%;
  padding: 1em;
  background-color: cadetblue;
  color:floralwhite;
}
/* Formats Message Under Quiz */
footer {
  justify-self: center;
  margin-top: 1em;
  padding-top: .5em;
  text-align: left;
  border-top: 2px solid gray;
  text-indent: 3em;
}
/* Visibility Class */
.hidden {
  visibility: hidden;
}
/* Hover Behavior */
#highscores:hover {
  cursor: pointer;
}
.isValid:hover {
  cursor: pointer;
  background-color: darkcyan;
}
.navigation:hover {
  cursor: pointer;
  background-color: darkcyan;
}

/* Button Class Formatting */
.correct {
  background-color: #28a745;
  cursor: default;
}

.incorrect {
  background-color: #d9534f;
  cursor: default;
}

.disabled {
  background-color: darkslategray;
  color:gray;
  cursor: default;
}
/* Alert Class for initial non-entry*/
#alert{
  color: #d9534f;
  font-weight: bolder;
}

/* Screen Size Formatting */
@media screen and (max-width: 992px) {
  #center {
    width: 75%;
    font-size: .8em;
  }
}
@media screen and (max-width: 768px){
  #center {
    width: 100%;
    font-size: .6em;
  }
}

